.wrapper {
    font-weight: bold;
    display: flex;
    padding-bottom: 10px;
}
li {
    list-style-type: none;
    padding-right: 5px;

}

.delClass{
    border-radius: 10px;
    background-color: rgba(255, 4, 4, 0.347);
}
